.listContainer {
  display: flex;
  gap: 20px;
  list-style: none;
  // border: 1px solid red;
  margin: 30px;
}

.setDisabledProperty {
  // display: none;
  color: red;
}

.addBackground {
  background-color: cyan;
  border: 1px solid #ccc;
  padding: 4px;
}
